@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Lobster&family=REM&family=Shrikhand&display=swap');

:root {
    --warmlight: #c2a55e;
    --warmdark: #4d4637;
    --neutral: #b3aa99;
    --coollight: #39bba4;
    --cooldark: #008570;
  }

  * {

    box-sizing: border-box;
}

img {
    height: auto;
    width: 500px;
    margin: 0 auto;
}

body {
    font-family: REM, sans-serif;
    background-color: var(--neutral);
    color: var(--warmdark);
    width: 90%;
    margin: auto;
}

main {
    display: flex;
    justify-content: center;
    width: 90%;
}

.recipelist {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

article {
    width: 300px;
    height: 128px;
    display: flex;
    background-color: var(--warmlight);
    margin: 30px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

.hello {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
}

.whisper {
    font-size: 10px;
    opacity: 30%;
}

ul {
    list-style-type: lower-greek;
}

article img {
    width: 128px;
    margin-left: 0;
    height: auto;
}


article a {
    margin-right: 10px;
    margin-top: 10px;

}

a:link {
    color: var(--cooldark);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    border: 1em pink;
}

a:visited {
    color: var(--warmdark);
    text-decoration: none;
}

footer {
    font-family: 'Lobster', cursive;
    font-size: 8em;
    text-align: right;
}
